.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  background-color: #f1c40f;
}
.circle:hover,
.circle > li > a:hover {
  background: #ffd520;
}
.slashes {
  font-weight: 800;
  font-size: 64px;
  display: inline;
  position: relative;
  vertical-align: middle;
}
li:hover > a .slashesyellow {
  color: #ffd520;
}
li:hover > a .slashesgreen {
  color: #38bf71;
}
li:hover > a .slashesblue {
  color: #677c91;
}
.navbar-default .navbar-nav > li:hover > a {
  color: #7a7a7a;
}
.navbar-default .navbar-nav > li:hover > a .underline {
  border-bottom: 1px solid #7a7a7a;
}
.slashesblue {
  font-weight: 800;
  font-size: 64px;
  display: inline;
  position: relative;
  vertical-align: middle;
  color: #252525;
  letter-spacing: 5px;
  font-size: 58px;
}
.slashesyellow {
  font-weight: 800;
  font-size: 64px;
  display: inline;
  position: relative;
  vertical-align: middle;
  color: #f1c40f;
  transform: rotate(90deg);
  letter-spacing: -2px;
}
.slashesgreen {
  font-weight: 800;
  font-size: 64px;
  display: inline;
  position: relative;
  vertical-align: middle;
  color: #252525;
}
