
@import url('colors.less');


.slashes {
  font-weight: 800;
  font-size: 64px;
  display: inline;
  position: relative;
  vertical-align: middle;
}

// Menu Rollover color
li:hover > a .slashesyellow {
  color: @light-yellow;
}
li:hover > a .slashesgreen {
  color: @light-green;
}
li:hover > a .slashesblue {
  color: @light-blue;
}
.navbar-default .navbar-nav > li:hover > a {
  color: @light-black;
}
.navbar-default .navbar-nav > li:hover > a .underline {
  border-bottom: 1px solid @light-black;
}
.slashesblue  {
	.slashes;
	color: @blue;
  letter-spacing:5px;
  font-size: 58px;
}
.slashesyellow  {
	.slashes;
	color: @yellow;
	transform:rotate(90deg);
    letter-spacing:-2px;
}
.slashesgreen {
	.slashes;
	color: @green;
}