

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
    <div id="header-nav">
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  <a class="navbar-brand" href="index.html"> <div class=circle><p class=circletext>sub<br>urb.io</p></div></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav menubuttons">
              <li><a href="cities/index.html"><div class=slashesblue>||</div><span class=underline>Cities</span></a></li>
              <li><a href="life/index.html"><div class=slashesyellow>/ \</div><span class=underline>Life</span></a></li>
              <li><a href="coding/index.html"><div class=slashesgreen>//</div><span class=underline>Coding</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
